<div class="container index-bg">
  <div class="row">
    <div class="password-container">
      <h1 class="top-password">Edit Password</h1>

               <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <table class="table">
                  <tr>
                    <th class="password-contents">
                      <%= f.label :password_confirmation %><br /></th>
                    <td><%= f.password_field :password_confirmation, autocomplete: "new-password", size: "70x4" %></td>
                  </th>
                  <tr>
                    <th class="password-contents">
                      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /></th>
                    <td><%= f.password_field :current_password, autocomplete: "current-password", size: "70x4" %></td>
                  </tr>
                </table>
                      <%= f.submit "Update", class:"btn btn-warning btn-lg btn-block" %>
                  <% end %>

      </div>
      <div class="delete-container">
        <h1 class="delete-title">Delete account</h1>
            <table class="table">
              <tr>
                <th class="delete-contents">Unhappy?</th>
                <br>
                <td><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-warning btn-lg btn-block" %></td>
              </tr>
            </table>
      </div>
       <%= link_to "Back", :back, class:"back-button" %>
   </div>
</div>
