

<div class="container" style="margin-bottom: 24px">
  			<div class="row">
  				<div class= "box-set col-md-6">
							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box1" style="background-color: #b0c4de">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-1"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">
								        	<%= link_to @entry.url do%>
								        		<%= link_to @entry.title %>
								        	<% end %>
								        </div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box2" style="background-color: #bfbfbf">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-5"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">
								        	<%= link_to @entry.url do%>
								        		<%= link_to @entry.title %>
								        	<% end %>
								        </div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box3" style="background-color: #7f7f7f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-3"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">
								        	<%= link_to @entry.url do%>
								        		<%= link_to @entry.title %>
								        	<% end %>
								        </div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box4" style="background-color: #3f3f3f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-5"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">
								        	<%= link_to @entry.url do%>
								        		<%= link_to @entry.title %>
								        	<% end %>
								        </div>
								    </a>
							      </div>
							    </div>
				</div>
				<div class= "box-set col-md-6">
								<div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box8" style="background-color: #add8e6">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box6" style="background-color: #bfbfbf">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box7" style="background-color: #7f7f7f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box5" style="background-color: #b0c4de">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>
				</div>
			</div>
			<div class="row">
				<div class= "box-set col-md-6">
								<div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box16" style="background-color: #add8e6">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box14" style="background-color: #bfbfbf">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box15" style="background-color: #7f7f7f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box13" style="background-color: #b0c4de">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>
				</div>
				<div class= "box-set col-md-6">
							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box9" style="background-color: #afeeee">
							      	<a href="#" class="box-cover">
							      		<div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box10" style="background-color: #bfbfbf">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-2"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box11" style="background-color: #7f7f7f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-1"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>

							    <div class="box col-md-8 col-sm-6 col-xs-12" style="margin-bottom: 0px">
							      <div class="box12" style="background-color: #3f3f3f">
							      	<a href="#" class="box-cover">
								        <div class="box-bg bg-1"></div>
								        <div class="box-borderline"></div>
								        <div class="box-comment">History</div>
								    </a>
							      </div>
							    </div>
				</div>
			</div>

</div>
