<div class="container-fluid">
    <div class="bg-video-wrap">
        <video src="https://designsupply-web.com/samplecontent/vender/codepen/20181014.mp4" loop muted autoplay>
        </video>
        <div class="top-cover">
        </div>
    </div>


        <div class="row">

  <!--------------------------ONLY ADMIN------------------------------------>
          <% if current_user.try(:admin?) %>
            <div class="col-lg-2 index-left">
              <ul class="index-category">
                <h1 class="index-title"><%=link_to "SPEEDY", feeds_top_path %></h1>
                  <h4><%= link_to "Today", entries_path(id:1) %></h4>
                  <h4><%= link_to "Business", entries_path(id:2) %></h4>
                  <h4><%= link_to "Economy", entries_path(id:3) %></h4>
                  <h4><%= link_to "Technology", entries_path(id:4) %></h4>
                  <h4><%= link_to "Science", entries_path(id:5) %></h4>
                  <h4><%= link_to "Environment", entries_path(id:6) %></h4>
                  <h4><%= link_to "Sports", entries_path(id:7) %></h4>
                  <h4><%= link_to "Media", entries_path(id:8) %></h4>
              </ul>

              <div class="search-container">
                  <h3 class="search-title">SEARCH</h3>
                    <%= search_form_for @q, url: entries_path, :html => {:class => 'search_container' } do |f| %>
                      <%= f.search_field :title_cont, class: "search-input" %>
                      <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit",:class =>"btn btn-default btn-xs search-button" %>
                  <% end %>
              </div>

              <ul class="index-list">
                  <p><%= link_to "Admin page", user_mypage_path(current_user.id) %></p>
                  <p><%= link_to "Stock list", stocks_list_path %></p>
                  <p><%= link_to "Users page", users_path %></p>
                  <p><%= link_to "Browsing History",  browsing_histories_path %></p>
                  <p><i class="fas fa-question"></i><%= link_to "QUESTIONS",inquiries_path %></p>
                  <p><i class="fas fa-sign-out-alt"></i><%= link_to " Log out",destroy_user_session_path, method: :delete %></p>
              </ul>
            </div>

            <div class="col-lg-6 index-middle">

                <div class="slider">
                   <% @entries.each_with_index do |entry, index|  %>
                      <div style="background-image: url(<%= asset_path("/images/honey#{index+1}.png")%>)">
                        <p class="slider-text">
                          <span class="record-history pick" href="<%= entry.url%>"><%= entry.title %></span><br>
                            <i class="published"> - published<%= entry.published.strftime("%Y-%m-%d-%R") %></i>
                        </p>
                      </div>
                   <% end %>
                </div>

                <% @entries.each do |entry| %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <% if current_user.already_stocked?(entry) %>
                          <button class="stock-already btn btn-xs" value=<%= entry.id %> formmethod="delete"><i class="fas fa-paperclip fa-2x"></i></button>
                        <% else %>
                          <button class="stock-icon btn btn-xs" value=<%= entry.id %> formmethod="post"><i class="fas fa-paperclip fa-2x"></i></button>
                        <% end %>
                     <span class="record-history pick" href="<%= entry.url%>"><%= entry.title %></span>
                     <br> - <i class="published"> published <%= entry.published.strftime("%Y-%m-%d-%R") %></i>
                    </div>
                  </div>
                <% end %>

                <%= paginate @entries, class: "paginate" %>
            </div>


            <div class="col-lg-4 index-right">
                <div class="greeting">Hello, <%= @user.name %></div>
                  <div class="weather-box">
                    <h2 class="weather-title">WEATHER</h2>
                        <input id="cityname" type="text" size="14" maxlength="14" placeholder="CITY NAME" class="search-input">
                        <button id="search" class="btn btn-default btn-xs search-button"><i class="fa fa-search"></i></button><br>
                          <div class="weather-list">
                                <span>PLACE :</span>
                                <span id="place"></span><br>
                                <div class="weather-descroption">
                                    <span>TEMP :  </span>
                                    <span id="temp_max"></span>
                                    <span>   ℃</span>
                                    <span>  /  </span>
                                    <span id="temp_min"></span>
                                    <span>   ℃</span><br>
                                    <span>HUMIDITY :</span>
                                    <span id="humidity"></span>
                                    <span>   %</span><br>
                                    <span>WEATHER :</span>
                                    <span id="weather"></span>
                                </div>
                          </div>
                  </div>
                <br>

                <div class="rnk">
                  <h2 class="ranking-title">STOCK RANKING</h2>
                    <div class="ranking-index">
                      <% @all_ranks.each.with_index(1) do |stock, i| %>
                          <ul class="raniking-box">
                            <i class="far fa-bookmark fa-lg"></i>  <%= i %>
                              <span class="stock-ranking pick" href="<%= stock.entry.url%>"><%= stock.entry.title %></span>
                              <br> - <i class="published"> published <%= stock.entry.published.strftime("%Y-%m-%d-%R") %></i>
                          </ul>
                      <% end %>
                    </div>
                </div>
            </div>
  <!--------------------------ONLY USER------------------------------------>
          <% elsif user_signed_in? %>
            <div class="col-lg-2 index-left">
              <ul class="index-category">
                 <h1 class="index-title"><%= link_to "SPEEDY", feeds_top_path %></h1>
                  <h4><%= link_to "Today", entries_path(id:1) %></h4>
                  <h4><%= link_to "Business", entries_path(id:2) %></h4>
                  <h4><%= link_to "Economy", entries_path(id:3) %></h4>
                  <h4><%= link_to "Technology", entries_path(id:4) %></h4>
                  <h4><%= link_to "Science", entries_path(id:5) %></h4>
                  <h4><%= link_to "Environment", entries_path(id:6) %></h4>
                  <h4><%= link_to "Sports", entries_path(id:7) %></h4>
                  <h4><%= link_to "Media", entries_path(id:8) %></h4>
              </ul>

              <div class="search-container">
                <h3 class="search-title">SEARCH</h3>
                  <%= search_form_for @q, url: entries_path, :html => {:class => 'search_container'} do |f| %>
                  <%= f.search_field :title_cont, class: "search-input" %>
                  <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit",:class =>"btn btn-default btn-xs search-button" %>
                  <% end %>
              </div>

              <ul class="index-list">
                  <p><%= link_to "My page", user_mypage_path(current_user.id) %></p>
                  <p><%= link_to "Stock list", stocks_list_path %></p>
                  <p><%= link_to "Browsing History",  browsing_histories_path %></p>
                  <p><i class="fas fa-question"></i><%= link_to "  Question",new_inquiry_path %></p>
                  <p><i class="fas fa-sign-out-alt"></i><%= link_to " Log out",destroy_user_session_path, method: :delete %></p>
              </ul>
            </div>


            <div class="col-lg-6 index-middle">
                <div class="slider">
                  <% @entries.each_with_index do |entry, index|  %>
                    <div style="background-image: url(<%= asset_path("/images/honey#{index+1}.png")%>)">
                      <p class="slider-text">
                          <span class="record-history pick" href="<%= entry.url%>"><%= entry.title %></span><br>
                                <i class="published"> - published<%= entry.published.strftime("%Y-%m-%d-%R") %></i>
                      </p>
                    </div>
                  <% end %>
                </div>

                <% @entries.each do |entry| %>
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <% if current_user.already_stocked?(entry) %>
                              <button class="stock-already btn btn-xs" value=<%= entry.id %> formmethod="delete"><i class="fas fa-paperclip fa-2x"></i></button>
                          <% else %>
                              <button class="stock-icon btn btn-xs" value=<%= entry.id %> formmethod="post"><i class="fas fa-paperclip fa-2x"></i></button>
                          <% end %>

                        <span class="record-history pick" href="<%= entry.url%>"><%= entry.title %></span>
                         <br> -
                         <i class="published"> published <%= entry.published.strftime("%Y-%m-%d-%R") %></i>

                      </div>
                    </div>
                <% end %>

                <%= paginate @entries, class: "paginate" %>
            </div>


            <div class="col-lg-4 index-right">
              <div class="greeting">Hello, <%= @user.name %></div>
                <div class="weather-box">
                  <h2 class="weather-title">WEATHER</h2>
                      <input id="cityname" type="text" size="14" maxlength="14" placeholder="CITY NAME" class="search-input">
                      <button id="search" class="btn btn-default btn-xs search-button"><i class="fa fa-search"></i></button><br>
                        <div class="weather-list">
                              <span>PLACE :</span>
                                <span id="place"></span><br>
                                  <div class="weather-descroption">
                                      <span>TEMP :  </span>
                                      <span id="temp_max"></span>
                                      <span>   ℃</span>
                                      <span>  /  </span>
                                      <span id="temp_min"></span>
                                      <span>   ℃</span><br>
                                      <span>HUMIDITY :</span>
                                      <span id="humidity"></span>
                                      <span>   %</span><br>
                                      <span>WEATHER :</span>
                                      <span id="weather"></span>
                                  </div>
                        </div>
                </div>
                <br>
                  <div class="rnk">
                  <h2 class="ranking-title">STOCK RANKING</h2>
                    <div class="ranking-index">
                      <% @all_ranks.each.with_index(1) do |stock, i| %>
                          <ul class="raniking-box">
                            <i class="far fa-bookmark fa-lg"></i>  <%= i %>
                              <span class="stock-ranking pick" href="<%= stock.entry.url%>"><%= stock.entry.title %></span>
                              <br> - <i class="published"> published <%= stock.entry.published.strftime("%Y-%m-%d-%R") %></i>
                          </ul>
                      <% end %>
                    </div>
                  </div>
            </div>
          <% end %>

        </div>
</div>