
<div class="container index-bg">
	<div class="row">
		<div class="edit-container">
			<h1 class="edit-title">
				<i class="fas fa-user-cog"></i>  EDIT
			</h1>

				<%= form_for(@user) do |f| %>
					<table class="table">
						<tr>
							<th class="edit-contents">Name</th>
							<td><%= f.text_field :name, autofocus: true, size: "40x4" %></td>
						</tr>
						<tr>
							<th class="edit-contents">E-mail</th>
							<td><%= f.text_field :email, autofocus: true, size: "40x4"%></td>
						</tr>
					</table>
				<%= f.submit "update", class:"btn btn-warning btn-lg btn-block" %>
				<% end %>
		</div>
		 <%= link_to "Back", :back, class:"back-button" %>
	</div>
</div>
