
<div class="mypage-container index-bg">
	<div class="mypage-top">
	  <div class="mypage-title"><i class="far fa-sun fa-2x"></i>  My page</div>
	  <div class="mypage-sub">you can check & edit your accounts.</div>
	</div>
		<div class="mypage-contents">
			<% if @user.id == current_user.id || current_user.try(:admin?)%>
				<div class ="account-info">
					<ul>
						<li class="fullname">User Name：<%= @user.name %></li>
						<li class="email">Mail Address： <%= @user.email %></li>
					</ul>
				</div>
			<% end %>
		</div>
		<div class="mypage-list index-bg">
			<% if @user.id == current_user.id || current_user.try(:admin?)%>

				<div class="col">
					<%= link_to edit_user_path(@user) do %>
						<div class="mp-button"><i class="fas fa-pen-square fa-4x"></i><br>
						<div class="mp-title">EDIT</div>
						</div>
					<% end %>
				</div>

				<div class="col">
					<%= link_to edit_user_registration_path do %>
						<div class="mp-button"><i class="fas fa-user-minus fa-4x"></i><br>
						<div class="mp-title">Reset / Delete</div>
						</div>
					<% end %>
				</div>

				<div class="col">
					<%= link_to stocks_list_path do %>
						<div class="mp-button"><i class="fas fa-paperclip fa-4x"></i><br>
						<div class="mp-title">Stock list</div>
						</div>
					<% end %>
				</div>

				<div class="col">
					<%= link_to browsing_histories_path do %>
						<div class="mp-button"><i class="fas fa-book-open fa-4x"></i><br>
						<div class="mp-title">Browsing History</div>
						</div>
					<% end %>
				</div>

			<% end %>
		</div>
			<% if @user.reply.present? %>
				<div class="mypage-reply">
						<div class="reply-title">Reply</div>
						<div class="reply-body"><%= @user.reply %></div>
				</div>
			<% end %>
		<%= link_to "Back", :back, class:"back-button" %>

</div>
