<div class="col-xs-6">
	<div class="profile-container">
		<h2 class="profile-name">My page</h2>



		<div class="row">

				<% if @user.id == current_user.id || current_user.try(:admin?)%>

				<div class ="name-info">
							<li class="list-group-item fullname">名前：<%= @user.name %></li>
							<li class="list-group-item email">メール： <%= @user.email %></li>
				</div>

				<p><%= link_to "個人情報を編集",edit_user_path(@user),class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
				<p><%= link_to "パスワードの再設定・退会",edit_user_registration_path,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>


					<% if @user.reply.present? %>
						<div class="panel panel-info ">
							<div class="panel-heading">
									<h5 class="panel-title">問い合わせ</h5>
							</div>
							<div class="panel-body"><%= @user.reply %></div>

						</div>
					<% end %>

				<% end %>
		</div>
	</div>
</div>




