<div class="container">
  <div class="row">
      <div class="user-search">
         <h1 class="usr-title"> INQUIRIES SEARCH</h1>
					 <%= form_tag(inquiries_path, :method => 'get') do %>
              <%= text_field_tag :search, params[:search], class: "search-input", size: "40", placeholder: "Search Words" %>
               <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit",:class =>"btn btn-default btn-xs search-button" %>
              <% end %>
      </div>
        <table class= "table table-hover table-inverse table-bordered user-table">
            		<thead>
            		  <tr>
              			  <th class ="user-name col-xs-2">Name</th>
               			  <th class ="inquiry-title col-xs-2">Title</th>
                 		　<th class ="inquiry-body col-xs-5">Contents</th>
                 		　<th class ="show-button col-xs-1"></th>
              		</tr>
          		　 </thead>

           		　　<tbody>
              		 <% @inquiries.each do |inquiry| %>
               		  <tr class ="inquiry-item">
                   		　 <td class="name-user"><%= inquiry.user.name %></td>
                    	 　<td class="title-inquiry"><%= inquiry.title %></td>
						             <td class="body-inquiry"><%= inquiry.body%></td>
						             <td class="button-show btn btn-default btn-block"><%=link_to "more",  inquiry_path(inquiry.id)%></td>
                    </tr>
                    <% end %>
           			 </tbody>
      	</table>
         <%= link_to "Back", :back, class:"back-button" %>
     <div>
 </div>