<div class="container">
  	<div class="row">
  		<div class="user-search">
  			<h1 class="usr-title"> INQUIRIES </h1>
  				<ul>
					<div class ="name-info">
					<li class="list-group-item user-name">名前：<%= @user.name %></li>
					<li class="list-group-item user-email">メール： <%= @user.email %></li>
				</ul>
		</div>
			<div class="profile-container">
				<table class= "table table-hover table-inverse table-bordered user-table">
				 	<thead>
            		    <tr>
							<th class ="inquiry-title col-xs-4"></th>
						    <th class ="inquiry-body col-xs-8"></th>
					    </tr>
          		　  </thead>
					<tbody>
               		    <tr class ="inquiry-item">
	                    	<td class="title-inquiry"><%= @inquiry.title %></td>
							<td class="body-inquiry"><%= @inquiry.body %></td>
	                    </tr>
	           		</tbody>
           		</table>
			<div class ="admin_reply">
				<%= form_for(@user, :url => {controller: "users", method: "patch", action: "admin_update", user_id: @user.id}) do |f| %>

				<div class="panel panel-default">
					<div class="panel-heading">
					問い合わせ返信欄
					</div>
					<div class="card-body">
						<%= f.text_area :reply %>
					</div>
					<div class="panel-footer">
						<%= f.submit 'send', class: "btn btn-default" %>
					</div>
				</div>
				<% end %>
			</div>
		<button type="button" class="btn btn-default"><%= link_to "back", inquiries_path %></button>
 	</div>
</div>
