<!DOCTYPE html>
<html>
  <head>
    <title>Speedy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>



     <!-------HEADER-------->
      <header>

        <nav class="header-nav">
          <section class="header-logo"><%= image_tag 'speedy.jpg',:size =>'150x80' %></section>
          <div class="header-list">
            <ul class="clearfix">
              <li class="header-item"><%= link_to "sign up", new_user_registration_path, class: "header-signup" %></li>
              <li class="header-item"><%= link_to "log in",  new_user_session_path, class: "header-login" %></li>
              <li class="header-item"><%= link_to "home",  home_route_path, class: "header-home" %></li>
            </ul>
          </div>
        </nav>
      </header>


    <%= yield %>
  </body>
</html>
